
div{
    border: grey 1px dashed;
    margin:10px;
}

.header-mobil{
    display: flex;
}
.logo{
    width: 200px;
}
.header-mobil li {
    width:100%;
    flex-wrap: nowrap;
    justify-content: flex-end;
    list-style: none;
    text-align:center;
}
