:root {
    --max-width: auto;
    --min-width: auto;
    --main-horizontal-margin: 2rem;
}

html, body {
    min-height: 100%;
    width: 100%;
}

html {
    font-size: 11px;
    background: #f7f7f7;
}

body {
    font-family: "PTSansRegular", Arial, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration-line: none;
    color: black;
}

main {
    font-size: 1.4rem;
}

main section:not(:first-child) {
    margin-top: 5rem;
}

.header-nav {
    height: 5rem;
    display: flex;
    width: 100%;
    margin: 0;
    box-shadow: 0 1.5rem 0.5rem -1rem rgba(0, 0, 0, 0.1);
}

.header-nav-inner {
    flex-grow: 1;
    max-width: var(--max-width);
    min-width: var(--min-width);
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    position: relative;
    margin: 0 auto;
    padding: 0 var(--main-horizontal-margin);
}

.header-logo::before {
    content: "";
    position: absolute;
    width: 10.6rem;
    height: 4rem;
    top: 0.5rem;
    background-size: contain;
    background-image: url("logo-white.png");
    background-repeat: no-repeat;
}
.header-logo{
    display: block;
    position: absolute;
    width: 10.6rem;
    height: 5rem;
    left: var(--main-horizontal-margin);
}

.header-info {
    display: none;
}

.header-menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    background-color: white;
    padding: 0.5rem 0;
    margin: auto 0;
}

.header-menu li {
    list-style: none;
    font-size: 1.5rem;
    margin: 0 0 0 1.2rem;
    padding-right: 1.2rem;
    position: relative;
}

.header-menu li:not(:last-child)::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
    width: 0.2rem;
    height: 130%;
    background-color: #eaeaea;

}

.header-menu li:last-child {
    padding-right: 0;
}


.page-block {
    display: flex;
    margin: 8rem var(--main-horizontal-margin) 7rem var(--main-horizontal-margin);
    height: auto;
}

.page-block-inner {
    max-width: var(--max-width);
    margin: 0 auto;
    flex-grow: 1;
}

.page-block h1 {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 0;
}

.page-block p {
    margin: 0;
    line-height: 1.7rem;
}

.welcome {
    text-align: center;
}

.site-image {
    width: 23.5rem;
}

.welcome-header h1 {
    font-size: 2.5rem;
}

.welcome-highlights h1 {
    font-size: 1.6rem;
    text-align: left;
    margin: 1rem 0 0 3rem;
}

.welcome-highlights p {
    font-size: 1.4rem;
    text-align: left;
    margin: 0 0 0 3rem;

}

.welcome-highlight {
    position: relative;
}

.welcome-sign-up {
    display: none;
}

.icon-planet::before {
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 0;
    top: calc(50% - 1rem);
    background-size: contain;
    background-image: url("planet.svg");
    background-repeat: no-repeat;
}

.icon-bag::before {
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 0;
    top: calc(50% - 1rem);
    background-size: contain;
    background-image: url("bag.svg");
    background-repeat: no-repeat;
}

.icon-camera::before {
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 0;
    top: calc(50% - 1rem);
    background-size: contain;
    background-image: url("icon-camera.svg");
    background-repeat: no-repeat;
}


.practice-and-theory p {
    text-align: center;
    align-items: center;
}

.groups li {
    line-height: 1.7rem;
}

.groups li::before {
    content: ">";
}

.cost-of-training li {
    padding: 0;
    line-height: 1.7rem;
}

.cost-of-training li::before {
    content: ">";
}

.discounts li::before {
    content: ">";
}

.our-advantages {
    text-align: left;
}

.aside-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    margin: auto 0.5rem;
}

.aside-button {
    font-size: 1.5rem;

}

.aside-button:first-child {
    margin-right: 1rem;
}

.aside-button:last-child {
    flex-grow: 1;
    display: flex;
}

.link-whatsapp-tel-number {
    display: block;
    position: relative;
    width: 4rem;
    height: 3rem;
}

.link-whatsapp-tel-number::before {
    content: "";
    position: absolute;
    width: 3rem;
    height: 3rem;
    left: 0;
    top: 0;
    background-size: contain;
    background-image: url("logo-whatsapp.jpg");
    background-repeat: no-repeat;

}

.aside-button .link-whatsapp-tel-number::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 0.2rem;
    height: 100%;
    background-color: #eaeaea;
}

.link-city-tel-number {
    display: block;
    position: relative;
    padding-left: 3rem;
}

.link-city-tel-number::before {
    content: "";
    position: absolute;
    width: 2.6rem;
    height: 2.6rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
    background-image: url("logo-tell.png");
    background-repeat: no-repeat;

}

.aside-button .link-application::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 0.2rem;
    height: 100%;
    background-color: #eaeaea;
}

.link-application {
    position: relative;
    white-space: nowrap;
    display: block;
    margin-left: auto;
    padding-left: 1rem;
}

.right-blue-icon::after {
    content: "";
    width: 2.5rem;
    height: 2rem;
    background-image: url("logo-arrow.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    right: 1.5rem;
    top: calc(50% - 1rem);
    transition: ease .2s;
    background-color: initial;
    z-index: 10;
}

.right-blue-icon {
    display: inline-block;
    position: relative;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    background-color: #009bdb;
    vertical-align: middle;
    transition: ease .2s;
    margin-left: 2rem;
    background-image: initial;
}

.left-red-icon {
    display: inline-block;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    background-color: #eb483c;
    vertical-align: middle;
    transition: ease .2s;
    background-image: initial;
    overflow: hidden;
    content: "";
    position: relative;
    margin-right: -1rem;
    z-index: -1;
}

/* Фиксированное положение меню сверху*/
.top-fixed {
    position: fixed;
    top: 0;
    z-index: 100;
    overflow: hidden;
    margin: 0;
    background: white;
}

/* Фиксированное положение меню снизу */
.aside-link-block {
    position: fixed;
    right: 0; /* Расстояние от правого края окна браузера */
    left: 0;
    bottom: 0;
    height: 4.5rem;
    background: white; /* Цвет фона */
    box-shadow: 0 1.5rem 1rem 2rem rgba(0, 0, 0, 0.1);
    display: flex;
    z-index: 10;
}

footer{
    background: #efefef;
    display: flex;
    min-width: fit-content;
    font-size: 1rem;
}
.footer-nav{
    display: block;
    text-align: center;
    /*box-shadow: 0 1.5rem 1rem 2rem rgba(0, 0, 0, 0.1);*/
    padding: 2rem 1rem 0.5rem 1rem;
    max-width: var(--max-width);
    min-width: var(--min-width);
    margin: auto auto 6rem auto;
    flex-grow: 1;
}
.developer{
    opacity: 0.6;
}
.developer:hover{
    opacity: 1;
}
.developer a {
    color: #48639a;
    font-weight: bold;
}

@media (max-resolution: 1.5dppx), (-webkit-max-device-pixel-ratio: 1.5) {
    :root {
        --max-width: 100rem;
        --min-width: 90rem;
    }

    html {
        font-size: 10px;
    }

    .aside-link-block {
        display: none;
    }

    .header-nav-inner {
        justify-content: space-between;
    }

    .header-nav-inner::before {
        height: 4.5rem;
        top: 0.2rem;
    }

    .header-info {
        display: block;
        font-size: 1.3rem;
        line-height: 1em;
        color: #555;
        border-left: 0.5rem solid #eee;
        height: 2.7rem;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: calc(12rem + var(--main-horizontal-margin));
        padding: 0.3rem 0 0.3rem 1rem;
    }
    .header-info-line:not(:last-child){
        margin-bottom: 0.3rem;
    }

    .info-city-tel-number,
    .info-whatsapp-tel-number{
        color: #48639a;
    }

    .header-info p {
        font-size: 1rem;
        margin: 0;

    }

    .welcome {
        margin: 5rem 0;
        display: grid;
        grid-template-columns: 40rem auto auto;
        grid-template-rows: auto auto;
        gap: 2rem 2rem;
    }

    .welcome-header {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .welcome-highlights {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .welcome-image {
        grid-column: 2/3;
        grid-row: 1/3;
        display: flex;
    }

    .site-image {
        margin: auto;
        width: 30rem;
    }

    .welcome-sign-up {
        grid-column: 3/3;
        grid-row: 2/3;
        display: flex;
    }
    .practice-and-theory p{
        text-align: center;
    }
    .sign-up {
        margin: auto;
    }

    .link-application::before {
        display: none;
    }
    footer{
        font-size: 1.4rem;
    }
    .footer-nav{
        margin: auto;
    }
}